@import 'variable.scss';

.yt-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 60px;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 12px;
  margin-left: 30px;

  &:hover {
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.05);
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.yt-img {
  display: block;
  position: relative;

  & img {
    border-radius: 12px;
  }
}

.yt-length {
  background-color: black;
  color: white;
  font-size: 13px;
  padding: 3px 6px;
  position: absolute;
  bottom: 3px;
  right: 0;
  border-radius: 12px;
}

.yt-title {
  font-size: 22px;
  font-weight: bold;
  margin-top: 8px;
}

.yt-description {
  font-size: 15px;
  color: grey;
  margin-top: 5px;
}

@media (max-width: $pad-width) {
  .yt-card {
    margin-left: 0;

    &:hover {
    }
  }

  .yt-img {
    & img {
    }
  }

  .yt-length {
  }

  .yt-title {
  }

  .yt-description {
  }
}
